{% extends 'templates/baseTemplate.html' %}

{% block title %}Главная{% endblock %}
{% block linkAndScript %}
	<link rel="stylesheet" href="css/main.css">
{% endblock %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
	<h1>Список абитуриентов</h1>
	<form action="main" method="get">
			<div class="row justify-content-end searchBlock">
				<input class ="col-1 btn btn-primary"  type="submit" value="search" id="sub">
				<input type="search" class="col-4 form-control " id="inp" name="search">
			</div>
		</form>
		{% if search %}
		<div class="searchResult">
			<h4 id="searchText">Вы ищите как "<span id="search">{{search}}</span>"</h4>
			<a href="/">[Вернуться на главную]</a>
		</div>
		{% endif %}
	<table class="table table-sm ">
		<thead class='thead'>
			<tr>
				<th><a href="{{ getLink(pageNum,'name')}}">name</a></th>
				<th><a href="{{ getLink(pageNum,'surname')}}">surname</a></th>
				<th><a href="{{ getLink(pageNum,'groupNum')}}">group</a></th>
				<th><a href="{{ getLink(pageNum,'points')}}">points</a></th>
			</tr>
		</thead>
        <tbody>
		{% for row in values %}
			<tr>
				<td>{{ row.name|raw }}</td>
				<td>{{ row.surname|raw }}</td>
				<td>{{ row.groupNum|raw }}</td>
				<td>{{ row.points|raw }}</td>
			</tr>
		{% endfor %}
	    </tbody>
   </table>
	<nav aria-label="Page navigation example">
		<ul class="pagination">
		{% if pageNum >= colButton and countPage != colButton %}
			<a href="{{ getLink(1) }}"  class="page-link" > First </a>
		{% endif %}
		{% if pageNum != 1 %}
			<a href="{{ getLink(pageNum-1) }}"  class="page-link"> Previous </a>
			{% endif %}
		{% for page in arr %}
			{% if page == pageNum %}
				<a href="#"  class="page-link" id="currentPage" style="color: red;">{{ page }}</a>
			{% else %}
				<a href="{{ getLink(page) }}"  class="page-link">{{ page }}</a>
			{% endif %}
		{% endfor %}
		{% if pageNum != countPage and countPage != 0 %}
			<a href=" {{ getLink(pageNum+1) }}"  class="page-link"> Next </a>
			{% endif %}
		{% if pageNum <= countPage - colButton %}
			<a href=" {{ getLink(countPage) }}" class="page-link"> Last </a>
		{% endif %}
		</ul>
	</nav>
</div>
{% endblock %}