{% extends 'templates/baseTemplate.html' %}
{% block title %}Register{% endblock %}
{% block linkAndScript %}
    <link rel="stylesheet" href="css/register.css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
    {% if userChangeEmail%}
        <div>
            <h1>Вы изменили e-mail адрес, пожалуйста войдите под новым</h1>
        </div>
    {% endif%}
    {% if pleaseRegister %}
    <div>
        <h1>Чтобы редактировать свой профиль необходимо зарегестрироваться</h1>
    </div>
    {% endif%}
    <div>
        {% if userName %}
            <p id="regiId">Вы зарегистрированы как {{ userName }}</p>
        {% else %}
            <p id ="regiId">Вы не зарегистрированы</p>
        {% endif%}
    </div>
    </div>
        <form action="register" method="post">
            <div class="form-row  justify-content-center">
                <input class="col-4 form-control" type="text" name="emailAuthorization" id="emailAuthorization">
            </div>
            <div class="form-row justify-content-center">
                <input class ="col-4 btn btn-primary" type="submit" value="authorization" name="authorization">
                <input id="xsrf" type="hidden" name="token" value="{{ token }}">
            </div>
        </form>
    <p id="errorText"></p>
</div>
<script type="text/javascript">
    $("document").ready(function(){
        $("form").submit(function (e){
            $.ajax({
                url: 'register',
                type: 'POST',
                data: {"emailAuthorization": $('#emailAuthorization').val(), "token": $('#xsrf').val()},
                dataType: 'json',
                success: function(data){
                    process(data);
                },
                error: function () {
                    alert('error');
                }

            });
            e.preventDefault();
        })
    })
    function process(data){
        if(data.error){
            $('#errorText').text(data.text)
        }else{
            var url = "/edit";
            $(location).attr('href',url);
        }
    }
</script>
</body>
</html>
{% endblock %}